html{
    height: 100%;
    width: 100%;
}

body{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-position: center top 40%;
    height: 100%;
    width: 100%;
}

.my-flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mth{
    background-color: ghostwhite;
    border: 1px solid gray;
    border-radius: 5px;
    opacity: 0.8;
    color: rgb(0, 255, 235);
    font-size: 33px;
    text-align: center;
    font-family:'Gloria Hallelujah', sans-serif;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
